<% include ../partials/header %>


<div class="row">
    <!-- <div class="col-md-3">
        <p class="lead">YelpHood</p>
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div> -->
    <div class="col-md-9">
        <div class="thumbnail">
            <img class="img-responsive" src="<%= neighborhood.image %>">
            <div class="caption">
                <h4><a><%= neighborhood.name %></a></h4>
                <p><%= neighborhood.description %></p>
                <p>
                    <em>Submitted by <%= neighborhood.author.username %>, <%= moment(neighborhood.createdAt).fromNow() %></em>
                </p>
                <% if (currentUser && neighborhood.author.id.equals(currentUser._id)) { %>
                    <a class="btn btn-xs btn-warning" href="/neighborhoods/<%= neighborhood._id %>/edit">Edit</a>
                    <form id="delete-form" action="/neighborhoods/<%= neighborhood._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                <% } %>
                <div style="margin-top: 10px;">
                        <a class="btn btn-default" href="/neighborhoods"><i class="fa fa-arrow-left"></i> Go back</a>
                </div>
            </div>
        </div>
        <!--Review section-->
        <div class="thumbnail">
                <div class="caption-full">
                    <% if (neighborhood.rating === 0) { %>
                    <h5>
                        <em>No reviews yet.</em>
                    </h5>
                    <% } else { %>
                    <p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (neighborhood.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (neighborhood.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (neighborhood.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (neighborhood.rating > 4.5) { %> checked <% } %>"></span>
                        <em>(total reviews: <%= neighborhood.reviews.length %>)</em>
                    </p>
                    <p>
                        Current neighborhood rating: <strong><%= neighborhood.rating.toFixed(2) %></strong>
                    </p>
                    <p><h4>Latest reviews for this neighborhood:</h4></p>
                    <hr style="margin-top: 0;">
                    <% neighborhood.reviews.slice(0, 5).forEach(function(review){ %>
                    <div class="row">
                        <div class="col-md-3">
                            <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %><%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                            <div>Review by: <strong><%= review.author.username %></strong></div>
                            <span><em><%= review.updatedAt.toDateString() %></em></span>
                        </div>
                        <div class="col-md-9">
                            <p style="text-align: justify; word-wrap: break-word;">
                                <%= review.text %>
                            </p>
                            <% if(currentUser && review.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning"
                                href="/neighborhoods/<%=neighborhood._id %>/reviews/<%=review._id %>/edit">Edit</a>
                            <form id="delete-form" action="/neighborhoods/<%=neighborhood._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <% }); %>
                    <div style="margin-bottom: 10px;">
                        <h4><a href="/neighborhoods/<%= neighborhood._id %>/reviews"><i class="fa fa-search" aria-hidden="true"></i> See all reviews</a></h4>
                    </div>
                    <% } %>
                    <div>
                        <a class="btn btn-primary" <% if (currentUser && neighborhood.reviews.some(function (review) {return review.author.id.equals(currentUser._id)})) { %> disabled <% } %>" href="/neighborhoods/<%= neighborhood._id %>/reviews/new">
                            Write a New Review</a>
                    </div>
                </div>
            </div>
        <!--Comment section-->
        <div class="well">
            <div class="text-right">
                <a class="btn btn-success" href="/neighborhoods/<%= neighborhood._id %>/comments/new">Add New Comment</a>
            </div>
            <hr>
            <% neighborhood.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <%= comment.author.username %>
                        <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if (currentUser && comment.author.id.equals(currentUser._id)) { %>
                            <a 
                                class="btn btn-xs btn-warning" 
                                href="/neighborhoods/<%= neighborhood._id %>/comments/<%= comment._id %>/edit">
                            Edit
                            </a>
                            <form id="delete-form-comment" action="/neighborhoods/<%= neighborhood._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                <input class="btn btn-xs btn-danger" type="submit" value="Delete">
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>





<% include ../partials/footer %>